@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

.sidebar {
  background-color: #2a313b;
}
.sidebar a {
  color: #ffffff;
  text-decoration: none;
}
.sidebar a:hover {
  background-color: #ef4444;
}
.navbar {
  background-color: #272c33;
}
